@page
@model UsersModel
@{
    ViewData["Title"] = "Users list:";
}
<h1>@ViewData["Title"]</h1>

<table class="table shadow-lg text-center table-striped rounded">
   
    <tbody>
        @foreach (var item in Model.ChatHubs)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
</tr>
}
    </tbody>
</table>
